# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.RobloxWarrior.iml
# Datasource local storage ignored files
/../../../../../../../:\Yang\projects\RobloxWarrior\.idea\.idea.RobloxWarrior\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
